@model IEnumerable<YGN.Store.Management.Entities.Views.StockAmountView>
@{
    ViewBag.Title = "GetStockAmounts";
    bool hasData = Model != null && Model.Any(); // Data var mı yok mu kontrolü
}

<h2>GetStockAmounts</h2>

@if (hasData)
{
    <p>true</p>
}
else
{
    <p>false</p>
}
