@model List<string>


@{ bool hasData = Model != null && Model.Count() > 0; }


@if (hasData)
{
    <p style="color:green">DATA RETURNED TRUE.</p>
}
else
{
    <p style="color:red">DATA RETURNED FALSE.</p>
}
